@tailwind base;
@tailwind components;

.card {
  @apply bg-white inline-block relative shadow-lg;
}

.card-body {
  @apply p-4;
}

.button {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
}

.button-primary {
  @apply bg-blue-500 text-white hover:bg-blue-700 focus:ring-blue-400;
}

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
          dash $duration ease-in-out infinite,
          colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}

.slide-leave-active, .slide-enter-active {
  //transition: 600ms;
}

.slide-enter-to {
  //transform: translate(100%, 0);
  animation: slide-in 600ms forwards;
}

.slide-leave-to {
  //transform: translate(-300%, 0);
  animation: slide-out 600ms forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@tailwind utilities;
